_site/
.sass-cache/
.jekyll-metadata

# _data/documents.yaml

node_modules
scripts/settings.js

# ignore thumbnails generated via scripts
assets/images/thumbnails/*
!assets/images/thumbnails/*.jpg
__*.*
__*
records.json
package-lock.json

.DS_Store