---
---

$black: #151515;
$almost-black: #1C090B;
$light-grey: #1C090B;
$yellow: #FAF54F;
$grey-on-yellow: grey;
$almost-white: #FCF4D9;
$devil-red: #F98375;
$white: #ffffff;

html, body{
  height: 100%;
}
body{
  background: $white;
  color: $almost-black;
  font-family: 'Work Sans', sans-serif;
}


.excerpt, .contents{

  a {
    border-bottom: 2px solid;
    background: $white;
    &:hover{
      color: $almost-black;
      text-decoration: none;
    }
  }

}

.excerpt{
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 768px) {
  .excerpt{ 
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}


.contents {
  font-size: 1.6em;
    
  h1, h2, h3 {
    font-size:inherit;
    padding-left: 0.75em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  p{
    font-size:inherit;
    text-align: justify;
  }
}




li.active a, a.active{
    background-color: cyan;
  }

a{
    color: $black;

}

@import "layouts/page", "layouts/index", "layouts/stories",  "layouts/map";
@import "includes/nav", "includes/social-media", "includes/footer";


@media (min-width: 1200px) {
  .container.half-container {
    max-width: 570px;//1140px; /2
    height: 100%;
  }
  .fullsized > .left .container.half-container {
    padding-right: 0;
    margin-right: 0;
  }

  .fullsized > .right .container.half-container {
    padding-left: 0;
    margin-left: 0;
  }
}