.navbar{
  background-color: $yellow;
  padding: 0rem 0;
  // padding: 0;
  ul li{
    padding: 0 0.5rem;
  }
  

  
}

.navbar.navbar-primary {
  .navbar-brand{
    margin-left: 0.75rem;
  }
  .collapse{
    background-color: transparent;
  }
}

.navbar.navbar-secondary {
  background-color: transparent;
  top: 92px;
  ul{
    background-color: #f0f0f0;
    padding: 0 0.75rem;
  } 
  ul.languages{
    background-color: #fafafa;
  }
}
.navbar .navbar-brand{
  padding: 0;
  background: transparent;
  // border-bottom: 2px solid cyan;
  color: cyan;
  font-size: 1rem;
  line-height: 2rem;
}
.navbar .navbar-nav li.nav-item {
  padding: 0;
  margin: 0.75rem;
  border-bottom: 2px solid transparent;

  &.logo-wrapper{
    border-color: transparent;
  }
  a{
    color: $grey-on-yellow;
  }
  &:hover{
    border-color: $grey-on-yellow;
    a {
      color: $black;
    }
  }
  &.active {
    border-color: $black;
    a {
      color: $black;
    } 
  }

}

// .navbar .navbar-nav.languages{
//     position: absolute;
//     right: 0;
//     top: 0;
//     margin: 0;
//     padding: 0;
//     background: $black;
//     bottom: 0;
//     flex-direction: column;

//     li.nav-item{
//       display: block;
//       padding: 0 0.75rem;
//       margin: 0;
//       border-width: 0;
//       // ;
      
//       a.nav-link { 
//         text-align: center;
//         line-height: 30px;

//         &:hover{
//           color: $yellow;
//         }
//       }
      
//       &:hover{
//         border-color: transparent;
//       }

//       &.active{
//         background: $yellow;
//         border-color: transparent;
//         // a.nav-link { 
//         //   color: $white;
//         // }
//       }
//     }
// }

.navbar .navbar-nav a.nav-link {  
  background: transparent;
  padding: 0 ;
  font-size: 1rem;
  line-height: 2rem;
  color: $black;
}



.navbar.absolute-top {
    position: absolute;
}

.logo-wrapper img{
  height: 4rem;
}



$navbar-mobile-height: 500px;
// navbar mobile
#navbar-mobile{
  position: fixed;
  z-index: 10;
  background-color: $yellow;
  top: -$navbar-mobile-height;
  height: $navbar-mobile-height  + 50px;
  width: 100%;
  transition: transform .21s ease-in-out;
  
  &.active{
    transform: translate(0, $navbar-mobile-height);
  }

  .navbar-brand{
    padding: 5px 0 5px 5px;

    > img{
      height: 40px;
    }
  }

  .bottom{
    position: absolute;
    height: 50px;
    bottom: 0px;
    left: 7px;
    right: 14px;
    overflow: hidden;
    background-color: $yellow;   
  }

  .toggler{
    position:absolute;
    top: 10px;
    left: 50%;
    height:30px;
    width: 60px;
    margin-left: -30px;
    overflow: hidden;
    background-color: transparent;
    color: $almost-black;
    border: 2px solid $almost-black;
    text-align: center;

    > span{
      display: block;
      line-height: 23px;
      border-bottom: 2px solid $almost-black;
    }
  }

  ul.languages{
    position: absolute;
    top: 10px;
    right: 0;
    height: 30px;

    li.nav-item{

      display: inline-block;
      
      .nav-link{
            padding: 2px 4px;
      }
    }
  }
  
}

@media (min-width: 768px) {
  #navbar-mobile{
    display: none;
  }
}

