h1.headline {
  margin-top: 18px;
  margin-right: 0;
  font-size: 2em;
  > span{
    background-color: $white;
  }
}

@media (min-width: 768px) {
  body h1.headline {
    margin-top: 100px;
    margin-right: 2.5rem;
    font-size: 2.5em;
  }
}


body.index .fullsized{
  margin-top: 50px;
}

@media (min-width: 768px) {
  body.index .fullsized{
    margin-top: 90px;
  }
}

a.big{
      border-bottom: 2px solid #151515;
      
  &:hover{    color: #151515;
    border-bottom-color: transparent;
    text-decoration: none;
  }
}

video.video-background {
  position: absolute;   
  height: auto;
  min-height: 100%;
  min-width: 100%;
  // width: 200%; 
  left: 0%;
}


@media (min-width: 768px) {
  body.index .fullsized {
    height: 75%;

    & > .left, & > .right{
      position: absolute;
      width: 50%;
      height: 100%;
    }
    & > .right{
      top: 0;
      left: 50%;
      border-top: 0px solid transparent;
    }
    & > .left{
      border-bottom: 0px solid transparent;
    }
  }
}
.fullsized{
  height: 120%;
  position: relative;
  background-color: white;
  
  &.first{
    margin-top: 2.5rem;
  }

  & > .left, & > .right{
    position: absolute;
    height: 50%;
    width: 100%; // see media query
    overflow:hidden;

  }
  & > .right{
    top: 50%;
    left: 0%;
    height: 50%;
    border-top: 2px solid $almost-black;
  }

  & > .left{
    border-bottom: 1px solid $yellow;
  }


  &.opposite{
    background: #141516;
  
    color: white;
  }
}