.page {
  margin-top: 70px;
  margin-bottom: 4rem;
  & > h1{
    font-size: 2.5rem;
  }

}



@media (min-width: 768px) {
  .page {
    margin-top: 210px;
    margin-bottom: 4rem;
    & > h1{
      font-size: 4.5rem;
    }
  }
}