body.gallery{
  .fullsized {
    margin: 0px;
    height: 100%;
  }

  #map { 
    position:absolute; 
    top: 152px; 
    bottom:2px;
    right: 2px; 
    left: 2px; 
  }

  .marker {
    display: block;
    border: 2px solid $devil-red;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }

  #map-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background: #ccc;
  }

  #list-wrapper{
    margin-top:152px;
  }
}