---
layout: default
---
<div class='container'>
  <div class='page'>
    <h1>{{page.title}}</h1>

    {% assign paragraphs = page.content | split: site.excerpt_separator %}
    <div class="excerpt">{{paragraphs[0] | markdownify}}</div>

    <div class="row social-media-container">
      

    </div>
  

  </div>
</div>


<div id='modal-slides' class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    
    <div class="modal-content">
      <div class='close'>✕</div>
      <div class="header">
        <span class='date'></span>
      </div>
      <div class="modal-body">
        <div class='description'></div>
      </div>
      <div class="footer text-center">
        <div class='next'>{% assign key="open in"%}{% include t.html %} <span class='provider'></span></div>
      </div>
    </div>
  </div>
</div>

<script src='{{"/assets/js/modal-slides.js" | relative_url}}'></script>
<script>
  document.addEventListener("DOMContentLoaded", function(e) {
    var m = new ModalSlides({
      modalSelector: '#modal-slides',
      slideSelector: '.social-media-wrapper',
      slideContainerSelector: '.social-media-container',
      language: '{{page.lang}}'
    });
    d3.json('{{ '/assets/data/records.json' | relative_url }}').then(function(data) {
      // clean data here
      m.update(data);
    })
    // d3.selectAll('.social-media').on('click', function(){
    //   m.show();
    // })
    
  })
  


</script>